body {
 color: #edf2fb;
 font-family: "Inter", sans-serif;
 padding: 30px;
 background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/pragii-pX829a6ObhE-unsplash.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 box-shadow: 0 0 10px 5px #002137;
 margin: auto;
}

h1,
p {
 text-align: center;
 font-family: monospace;
 text-shadow: -1px -1px 10px black;
}

h1 {
 padding-top: 2rem;
 font-size: 2.5rem;
}

p {
 margin-bottom: 2rem;
 font-size: 1.2rem;
}

fieldset:first-of-type {
 padding-top: 0;
}

fieldset {
 border: none;
}

input,
select,
textarea {
 width: 100%;
 margin: 10px 0 0 0;
 color: white;
 background-color: #202020;
 border: 2px inset #2d2d2d;
 padding: 0.5rem;
}

.inline input,
.inline option {
 display: inline-block;
 width: unset;
}

form {
 margin: auto;
 width: 60vw;
 padding: 20px;
 border-radius: 5px;
 background-color: rgba(0, 0, 0, 0.5);
}

form,
input,
select,
textarea {
 font-size: 1.1rem;
}

label {
 display: block;
 margin: 0.75em 0;
}

#submit {
 width: 20vw;
 height: 2.5em;
 margin: 1em auto;
 display: block;
 border-radius: 8px;
 background-color: #0086df;
 transition: 200ms all ease-in-out;
 border: 2px solid black;
 font-weight: bold;
 color: black;
}

#submit:hover {
 cursor: pointer;
 background-color: #0099ff;
}
textarea {
 min-height: 5rem;
}

@media (max-width: 925px) {
 form {
  width: 80vw;
 }
}

@media (max-width: 576px) {
 body {
  padding: 20px 10px;
 }

 form,
 input,
 textarea {
  font-size: 0.9rem;
 }

 h1 {
  font-size: 2rem;
 }

 p {
  font-size: 1rem;
 }
}
